	<link rel="stylesheet" href="css/footer.css">
    
    <!-- End of Query Section -->
		<footer class="page-footer custom-bg-color" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="row">
                        <div class="col-md-3">
                            <div class="box-wrap" itemprop="about">
                                <header><h3>About</h3></header>
                                <p>Gyan Bharti Shishu Mandir is a great start for and education. We provide better opportunity to our student to build their career.</p>

                                <h6><i class="fas fa-phone"></i> +91 9198340541</h6>
                                <h6><i class="fas fa-envelope"></i> gbsm@edu.nic.in</h6>
                                <h6><i class="fas fa-map-marker-alt"></i> Bhujauli Bujurg, Kushinagar, India</h6>
                            </div>
                        </div>

                            <div class="col-md-3">
                                <div class="box-wrap">
                                    <header><h3>Links</h3></header>
                                <ul>
                                    <li><a href="#">Teacher</a></li>
                                    <li><a href="#">Courses</a></li>
                                    <li><a href="#">Fee Structure</a></li>
                                    <li><a href="#">Event</a></li>
                                    <li><a href="#">Suggestion</a></li>
                                    
                                </ul>
                            </div>
                            </div>

                            <div class="col-md-3">
                                <div class="box-wrap">
                                    <header><h3>Recent Courses</h3>	</header>
                                <div class="recent-course-wrap">
                                    <img src="images/ux-ui.png" alt="Ui/Ux Designing">
                                    <div class="course-name">
                                        <h4>Crash courses</h4>
                                        <p><span>Rs500</span> 400</p>
                                    </div>
                                </div>
                                <div class="recent-course-wrap">
                                    <img src="images/ux-ui.png" alt="Ui/Ux Designing">
                                    <div class="course-name">
                                        <h4>Full time courses</h4>
                                        <p><span>Rs5000</span> Rs4000</p>
                                    </div>
                                </div>
                            </div>

                            </div>
                        <div class="col-md-3">
                            <div class="box-wrap ms-2">
                                    <header><h3>Contact Us</h3></header>
                            <section class="quick-contact">
                                <form action="/process-contact-form" method="post">
                                    <div>
                                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email here">
                                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                    </div>

                                    <div class="mb-2 mt-1">
                                        <input type="number" class="form-control" name="contactNumber" placeholder="Enter mobile no here">
                                    </div>
                                    <div class="form-floating my-2 text-secondary">
                                        <textarea class="form-control" id="queryField" name="query" placeholder="Enter your query here" style="height: 80px;"></textarea>
                                        <label for="queryField">Your Query</label>
                                    </div>
                                    <button>send message</button>
                                </form>
						    </section>
					        </div>
                        </div>
                    </div>
					
				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2018 &copy; gbsm@edu.nic.in <span> | </span> Developed by <a href="#">IT Team</a></p>
				</div>
			</div>
		</footer>
