

            <div class="card">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/dharam.jpg" alt="image" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="name">Dharmveer Singh</h2>
                    <p class="desc">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
                    <button class="button">view more</button>
                </div>
            </div>


